<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElSurv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="demo-wrap">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ElSurv</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if ((bool?) ViewData["Loggedin"] == true)
                        {

                            @if ((bool?)ViewData["sysUser"] == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Init">InitDb</a>
                                </li>
                            }

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CompanyPage" asp-action="List">Companies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdminReviewPage" asp-action="List">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdminResultPageV2" asp-action="ListOfAllQuestions">Answers</a>
                            </li>
                            <!--
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdminResultPageV1" asp-action="ListOfAllQuestions">Answer</a>
                            </li>
                            -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        } else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-info" asp-area="" asp-controller="TakeReviewPage" asp-action="List">DBG_Take_review</a>
                        </li>
                    </ul>
                    @ViewData["login"]
                </div>
            </div>
        </nav>
    </header>
    <!--
    <img class="rg-background" style="opacity: .3;z-index: -5000;" width="100%" height="100%" src="/images/writing-hand-pen-fin.jpg" />
    -->    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
       
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
